@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Indie+Flower&display=swap');

html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.none {
    display: none !important;
}

.text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.full-height {
    height: 80vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    min-width: 30vw;
}

.title {
    font-size: 6em;
}

.subtitle {
    font-size: 2em;
}

.m-b-md {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    background : linear-gradient(0.25turn, #FFBC50, #AA31BD);
    border : transparent;
    cursor: pointer;

    color: #FFFFFF;

  
    animation: fadeInAnimation 1s ease-in-out;
}

.inputStyle {
    background-color: rgb(0,0,0,0);
    border-image: repeating-linear-gradient(0.25turn, #FFBC50, #AA31BD) 10;
    color: #C9CBC5;
    animation: fadeInAnimation 1s ease-in-out;
}

.txt-rotate>.wrap {
    border-right: 0.08em solid #666;
}

.mfc-title-center{
    /* font-size: 60px; */
    padding-bottom: 30px;
    padding-top: 40px;
    /* color:#0F0; */
}

/* 
.txt-rotate{
    font-size: 60px;
    color:#16d1ec;
}
*/ 


@media (max-width: 767.98px) {
    .content {
        width: auto;
    }
}

@media(max-width:710px){
    .hide-in-mobile {
        display: none;
    }
}

    

.mask {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    padding-top: 48.5vh;
    display: flex;
    background: rgba(167, 167, 167, 0.9);
    text-align: center;
    z-index: 99;
}

.mask>p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.75em;
    color: #347fc3;
    font-family: helvetica, sans-serif;
    font-weight: bold;
}
